@page "/shopOrders/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Shop Order</h3>

<FormComponent shopOrder="shopOrder" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    ShopOrder shopOrder = new ShopOrder();

    protected async override Task OnParametersSetAsync()
    {
        shopOrder = await
       _client.GetFromJsonAsync<ShopOrder>($"{Endpoints.ShopOrdersEndPoint}/{id}");
    }
}
